.policy-title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #fff;
  margin: 2.5rem 0 2rem 0;
  text-align: center;
  letter-spacing: 0.04em;
}

.policy-content p {
  font-size: 1.15rem;
  margin-bottom: 1.2rem;
  line-height: 1.6;
  color: #fff;
  text-align: center;
}