<header class="app-header">  <!-- il browser gestisce larghezza e altezza in base al contenuto -->
  <nav>
      <div class="menu-icon">
<span class="fa-solid fa-bars"></span></div>
  <a class= "logo" routerLink="/home">
    <img src="/assets/LOGO_TECH3.png" alt="Logo Real Tech" class="cinema-logo" /> Real Tech
  </a>
<div class="nav-items">
<li><a href="/home">Home</a></li>
<li class="signin" *ngIf = "!user" (click)="$event.stopPropagation()">
    <a class="nav-link" href="javascript:void(0)"
       (click)="toggleSignInMenu($event)"
       aria-haspopup="true"
       [attr.aria-expanded]="showSignInMenu">
      Sign in
    </a>
    <div class="signin-menu" [class.open]="showSignInMenu" (click)="$event.stopPropagation()">
      <a routerLink="/login">Accedi</a>
      <a routerLink="/registrazione">Registrati</a> 
    </div>
  </li>

<li *ngIf="user"><a routerLink="/profilo">Profilo</a></li>
<li *ngIf="user"><a href="#" (click)="logout()">Logout</a></li>
<li><a href="/about">About</a></li>
<li><a routerLink="/catalogo">Catalogo</a></li>
<li><a routerLink="/carrello">Carrello</a></li>
<li *ngIf="auth.isAdmin()"><a routerLink="/admin">Area Admin</a></li>
<li><a href="#">Feedback</a></li>

</div>
<div class="search-icon">
<span class="fa-solid fa-search"></span>
</div>
<div class="cancel-icon">
<span class="fa-solid fa-times"></span>
</div>
<form action="#">
        <input type="search" class="search-data" placeholder="Cerca Film..." required>
        <button type="submit"><i class="bi bi-search"></i></button> 
      </form>
</nav>
</header>
