.cookie-title {
  margin-top: 4rem;
  font-size: 4rem;
  font-weight: 800;
  color: #fff;
  text-align: center;
  letter-spacing: 0.04em;
  text-shadow:
    0 0 8px #b6b6b6,
    0 0 16px #fff,
    0 0 32px #ff3d00,
    0 0 48px #ff3d00;
}

.cookie-content {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1.5rem;
}

.cookie-content h2 {
  font-size: 1.2rem;
  color: #ffffff;
  margin-top: 2rem;
  margin-bottom: 0.7rem;
  font-weight: bold;
}

.cookie-content p {
  font-size: 1.05rem;
  color: #fff;
  margin-bottom: 1.2rem;
  line-height: 1.6;
}