.policy-title {
  margin-top: 4rem;
  font-size: 4rem;
  font-weight: 800;
  color: #ffffff;
  margin: 2.5rem 0 2rem 0;
  text-align: center;
  letter-spacing: 0.04em;
  text-shadow:
    0 0 8px #b6b6b6,
    0 0 16px #fff,
    0 0 32px #ff3d00,
    0 0 32px #ff3d00;
}

.policy-content p {
  font-size: 1.15rem;
  margin-bottom: 1.2rem;
  line-height: 1.6;
  color: #fff;
  text-align: center;
}


.policy-content {
  min-height: 60vh; /* assicura spazio sopra il footer */
}

app-footer, .footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
}